@using CurrieTechnologies.Razor.SweetAlert2
﻿@using Orquesta.Shared.Entities
@inject SweetAlertService swal

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContext" OnValidSubmit="OnSubmit">
	<DataAnnotationsValidator />

	<style>
		.mb-3 {
			margin-bottom: 1rem !important;
			margin-left: 20px;
			margin-right:20px;
		}
	</style>

	<div class="mb-3">
		<label>Estrellas (1 a 5)</label>
		<div>
			<InputNumber class="form-control" @bind-Value="Calificacion_Contratante.Puntaje" />
			<ValidationMessage For="@(() => Calificacion_Contratante.Puntaje)" />
		</div>
	</div>

	<div class="mb-3">
		<label>Comentario</label>
		<div>
			<InputText @bind-Value="Calificacion_Contratante.Comentario" />
			<ValidationMessage For="@(() => Calificacion_Contratante.Comentario)" />
		</div>
	</div>

	<div class="mb-3">
		<label>Id contratante</label>
		<div>
			<InputNumber @bind-Value="Calificacion_Contratante.ContratanteId" />
			<ValidationMessage For="@(() => Calificacion_Contratante.ContratanteId)" />
		</div>
	</div>

	<div class="mb-3">
		<label>Id Representante</label>
		<div>
			<InputNumber @bind-Value="Calificacion_Contratante.RepresentanteId" />
			<ValidationMessage For="@(() => Calificacion_Contratante.RepresentanteId)" />
		</div>
	</div>

	<div class="mb-3">
		<button class="btn btn-primary" type="submit">Guardar</button>
		<button class="btn btn-info" type="reset">Limpiar</button>
		<button class="btn btn-success" @onclick="ReturnAction">Regresar</button>
	</div>

</EditForm>

@code {

	private EditContext editContext = null;
	protected override void OnInitialized()
	{
		editContext = new(Calificacion_Contratante);
	}

	[EditorRequired]
	[Parameter]

	public Calificacion_Contratante Calificacion_Contratante { get; set; }

	[EditorRequired]
	[Parameter]

	public EventCallback OnSubmit { get; set; }

	[EditorRequired]
	[Parameter]
	public EventCallback ReturnAction { get; set; }

	public bool FormPostedSuccessfully { get; set; } = false;

	private async Task OnBeforeInternalNavigation(LocationChangingContext context)
	{
		var formularioFueEditado = editContext.IsModified();

		if (!formularioFueEditado)
		{
			return;
		}

		if (FormPostedSuccessfully)
		{
			return;
		}

		var resultado = await swal.FireAsync(new SweetAlertOptions
			{
				Title = "Confirmación",
				Text = "¿Deseas abandonar la página y perder los cambios?",
				Icon = SweetAlertIcon.Warning,
				ShowCancelButton = true
			});

		var confirmado = !string.IsNullOrEmpty(resultado.Value);

		if (confirmado)
		{
			return;
		}

		context.PreventNavigation();
	}

}
