@using Orquesta.Shared.Entities
@using System.ComponentModel.DataAnnotations
@inject SweetAlertService swal
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContext" OnValidSubmit="HandleValidSubmit">
	<DataAnnotationsValidator />

	<div class="mb-3">
		<label>Estrellas (1 a 5)</label>
		<div>
			<InputNumber class="form-control" @bind-Value="Calificacion_Contratante.Puntaje" />
			<ValidationMessage For="@(() => Calificacion_Contratante.Puntaje)" />
		</div>
	</div>

	<div class="mb-3">
		<label>Comentario</label>
		<div>
			<InputText @bind-Value="Calificacion_Contratante.Comentario" />
			<ValidationMessage For="@(() => Calificacion_Contratante.Comentario)" />
		</div>
	</div>
	<button class="btn btn-primary" type="submit">Guardar</button>
	<button class="btn btn-info" type="reset">Limpiar</button>
	<button class="btn btn-success" @onclick="ReturnAction">Regresar</button>

</EditForm>

@code {

	public EditContext editContext;
	private string Documento;
	private List<Representante> Representantes { get; set; } = new List<Representante>();
	private Representante representante;

	[CascadingParameter]
	private Task<AuthenticationState> authenticationStateTask { get; set; } = null!;

	[EditorRequired]
	[Parameter]
	public Calificacion_Contratante Calificacion_Contratante { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var authenticationState = await authenticationStateTask;
		var user = authenticationState.User;
		Documento = user.FindFirst(c => c.Type == "Document")?.Value;
		editContext = new EditContext(Calificacion_Contratante);
		var responseContratante = await repository.GetAsync<List<Representante>>("api/representante");
		if (!responseContratante.Error)
		{
			Representantes = responseContratante.Response;
		}
		representante = Representantes.FirstOrDefault(i => i.Document == Documento);
	}

	[EditorRequired]
	[Parameter]

	public EventCallback OnSubmit { get; set; }

	[EditorRequired]
	[Parameter]
	public EventCallback ReturnAction { get; set; }

	public bool FormPostedSuccessfully { get; set; } = false;

	private async Task HandleValidSubmit()
	{
		Calificacion_Contratante.RepresentanteId = representante.Id;
			await OnSubmit.InvokeAsync(null);
	}

	private async Task OnBeforeInternalNavigation(LocationChangingContext context)
	{
		var formularioFueEditado = editContext.IsModified();

		if (!formularioFueEditado)
		{
			return;
		}

		if (FormPostedSuccessfully)
		{
			return;
		}

		var resultado = await swal.FireAsync(new SweetAlertOptions
			{
				Title = "Confirmación",
				Text = "¿Deseas abandonar la página y perder los cambios?",
				Icon = SweetAlertIcon.Warning,
				ShowCancelButton = true
			});

		var confirmado = !string.IsNullOrEmpty(resultado.Value);

		if (confirmado)
		{
			return;
		}

		context.PreventNavigation();
	}

}