@page "/generoMusical"
@using CurrieTechnologies.Razor.SweetAlert2
@using Orquesta.Shared.Entities
@using Orquesta.WEB.Repositories
@using Orquesta.WEB.Shared
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-boombox" /> Género Musical
            <a class="btn btn-primary btn-sm float-end" href="/generoMusical/create"><i class="bi bi-plus-circle" /> Nuevo Género</a>

        </span>
    </div>

    <div class="card-body">

        <GenericList MyList="GeneroMusical">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>


                                <b>Id</b>
                            <td><b>Nombre</b></td>
                            <td><b>Opciones</b></td>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in GeneroMusical!)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name </td>

                                <td>
                                    <a href="/generoMusical/edit/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square" /> Editar</a>
                                    <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-sm btn-danger "><i class="bi bi-trash-fill" /> Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>


@code {
    public List<GeneroMusical> GeneroMusical { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<GeneroMusical>>("/api/generoMusical");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        GeneroMusical = responseHttp.Response;
    }



    private async Task DeleteAsycn(GeneroMusical generoMusical)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estas seguro de querer borrar el investigador: {generoMusical.Name}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<GeneroMusical>($"/api/generoMusical/{generoMusical.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("GeneroMusical");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }
}