@page "/contratante/create"
@using CurrieTechnologies.Razor.SweetAlert2
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Crear</h3>

<ContratanteForm @ref="contratanteForm" Contratante="contratante" OnSubmit="Create" ReturnAction="Return"/>

@code {
    private Contratante contratante = new Contratante();
    private ContratanteForm contratanteForm;



    private async Task Create()
    {


        var responseHttp = await repository.PostAsync("/api/contratante", contratante);
        if (responseHttp.Error)
        {

            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;


        }

        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {

                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000


            });


        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con éxito");
    }


    private void Return()
    {




        contratanteForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/contratante");




    }


}