@page "/representante/create"
@using CurrieTechnologies.Razor.SweetAlert2
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Crear</h3>

<RepresentanteForm @ref="representanteForm" Representante="representante" OnSubmit="Create" ReturnAction="Return"/>

@code {
    private Representante representante = new Representante();
    private RepresentanteForm representanteForm;



    private async Task Create()
    {


        var responseHttp = await repository.PostAsync("/api/representante", representante);
        if (responseHttp.Error)
        {

            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;


        }

        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {

                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000


            });


        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con éxito");
    }


    private void Return()
    {




        representanteForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/representante");




    }


}
