@page "/agrupacionGenero"
@using Orquesta.Shared.Entities
@using Orquesta.WEB.Repositories
@using Orquesta.WEB.Shared
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-music-note-beamed" /> Agrupación y Género
            <a class="btn btn-primary btn-sm float-end" href="/agrupacionGenero/create"><i class="bi bi-plus-circle" /> Nueva relación agrupacion y género</a>

        </span>
    </div>

    <div class="card-body">

        <GenericList MyList="AgrupacionGeneros">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>


                                <b>Id</b>
                            <td><b>Agrupación</b></td>
                            <td><b>Género Musical</b></td>
                            <td><b>Opciones</b></td>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in AgrupacionGeneros!)
                        {
                            <tr>
                                <td> @item.Id</td>
                                <td> @GetAgrupacionSolistaName(item.AgrupacionId)</td>
                                <td> @GetGeneroMusicalName(item.GeneroMusicalId)</td>
                                

                                <td>
                                    <a href="/agrupacionGenero/edit/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square" /> Editar</a>
                                    <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-sm btn-danger"><i class="bi bi-trash-fill" /> Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>


@code {
    public List<Agrupacion_Genero> AgrupacionGeneros { get; set; }
    public List<Agrupacion> Agrupaciones { get; set; }
    public List<GeneroMusical>GeneroMusicals { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<Agrupacion_Genero>>("/api/agrupacionGenero");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        AgrupacionGeneros = responseHttp.Response;

         var responseAgrupacion = await repository.GetAsync<List<Agrupacion>>("api/agrupacion");
        if (!responseAgrupacion.Error)
        {
             Agrupaciones = responseAgrupacion.Response;
        }

        var responseGeneroMusical = await repository.GetAsync<List<GeneroMusical>>("api/generoMusical");
        if (!responseGeneroMusical.Error)
        {
            GeneroMusicals = responseGeneroMusical.Response;
        }
    }

    private string GetAgrupacionSolistaName(int AgrupacionId)
    {
        var agrupacion = Agrupaciones.FirstOrDefault(i => i.Id == AgrupacionId);
        return agrupacion != null ? agrupacion.Name : "Agrupación no encontrado";
    }

    private string GetGeneroMusicalName(int GeneroMusicalId)
    {
        var generoMusical = GeneroMusicals.FirstOrDefault(i => i.Id == GeneroMusicalId);
        return generoMusical != null ? generoMusical.Name : "Género no encontrado";
    }



    private async Task DeleteAsycn(Agrupacion_Genero agrupacion_Genero)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estas seguro de querer borrar la relación entre la agrupación de Id {agrupacion_Genero.AgrupacionId} y el género musical de Id {agrupacion_Genero.GeneroMusicalId}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<Agrupacion_Genero>($"api/agrupacionGenero/{agrupacion_Genero.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("agrupacionGenero");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }
}